VITE_GRAPHQL_URL=http://localhost:3000/graphql
# Cognito User Poolの発行者URL(https://cognito-idp.<region>.amazonaws.com/<userPoolId>)
VITE_COGNITO_AUTHORITY=
VITE_COGNITO_CLIENT_ID=
# Hosted UIのドメイン(https://xxx.auth.<region>.amazoncognito.com)
VITE_COGNITO_DOMAIN=
